<section id="Products">
  <nb-card>
    <nb-card-header>
      <h5>User Management</h5>
    </nb-card-header>
    <nb-card-body class="p-0">
      <nb-accordion>
        <nb-accordion-item>
         <nb-accordion-item-header>Manage Users</nb-accordion-item-header>
         <nb-accordion-item-body>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                  <nb-card size="large">
                      <nb-card-header>
                          Your Businesses
                      </nb-card-header>
                      <nb-card-body>
                        <nb-list>
                          <nb-list-item *ngFor="let business of ownedBusinesses">
                              <div class="container-fluid">
                                  <div class="row">
                                      <nb-radio class="col-xxl-8"
                                                (valueChange)="loadUsers(business.businessId)">
                                          {{ business.title }}
                                      </nb-radio>
                                      <div class="col-xxl-4">
                                          <div class="row">
                                              <div class="col-6">
                                                  <button nbButton nbTooltip="Update" status="primary"
                                                          class="btn-custom"
                                                          (click)="openSaveBusinessWindow('Update Business Title', business)">
                                                      <nb-icon icon="copy"></nb-icon>
                                                  </button>
                                              </div>
                                              <div class="col-6">
                                                  <button nbButton nbTooltip="Delete" status="danger"
                                                          class="btn-custom"
                                                          (click)="openDeleteBusinessWindow('Delete Category', business.businessId)">
                                                      <nb-icon icon="close-square"></nb-icon>
                                                  </button>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </nb-list-item>
                        </nb-list>
                      </nb-card-body>
                      <nb-card-footer>
                          <button nbButton status="primary"
                                  (click)="openSaveBusinessWindow('Add New Business', null)">
                              <nb-icon icon="plus-square"></nb-icon> Add New Business
                          </button>
                      </nb-card-footer>
                  </nb-card>
              </div>
              <div class="col-md-6">
                  <nb-card size="large">
                      <nb-card-header>
                          Categories
                      </nb-card-header>
                      <nb-card-body>
                          <nb-list>
                              <nb-list-item *ngFor="let category of categories">
                                  <div class="container-fluid">
                                      <div class="row">
                                          <nb-radio class="col-xxl-8"
                                                    (valueChange)="loadSubcategories(category.categoryId)">
                                              {{ category.title }}
                                          </nb-radio>
                                          <div class="col-xxl-4">
                                              <div class="row">
                                                  <div class="col-6">
                                                      <button nbButton nbTooltip="Update" status="primary"
                                                              class="btn-custom"
                                                              (click)="saveCategory('Update Category Information', category)">
                                                          <nb-icon icon="copy"></nb-icon>
                                                      </button>
                                                  </div>
                                                  <div class="col-6">
                                                      <button nbButton nbTooltip="Delete" status="danger"
                                                              class="btn-custom"
                                                              (click)="removeCategory('Delete Category', category.categoryId)">
                                                          <nb-icon icon="close-square"></nb-icon>
                                                      </button>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </nb-list-item>
                          </nb-list>
                      </nb-card-body>
                      <nb-card-footer>
                          <button nbButton status="primary"
                                  (click)="saveCategory('Add New Category', null)">
                              <nb-icon icon="plus-square"></nb-icon> Add Category
                          </button>
                      </nb-card-footer>
                  </nb-card>
              </div>
            </div>
          </div>
         </nb-accordion-item-body>
        </nb-accordion-item>
        <nb-accordion-item>
         <nb-accordion-item-header>Manage Access Control</nb-accordion-item-header>
         <nb-accordion-item-body>
          <div class="container-fluid">
            <div class="row">
              Item Content
            </div>
          </div>
         </nb-accordion-item-body>
        </nb-accordion-item>
       </nb-accordion>
    </nb-card-body>
  </nb-card>
</section>
