<section id="Products">
  <nb-card>
    <nb-card-header>
      <h5>User Management</h5>
    </nb-card-header>
    <nb-card-body class="p-0">
      <nb-accordion>
        <nb-accordion-item>
         <nb-accordion-item-header>Manage Users</nb-accordion-item-header>
         <nb-accordion-item-body>
          <div class="container-fluid">
            <div class="row">
              Item Content
            </div>
          </div>
         </nb-accordion-item-body>
        </nb-accordion-item>
        <nb-accordion-item>
         <nb-accordion-item-header>Manage Access Control</nb-accordion-item-header>
         <nb-accordion-item-body>
          <div class="container-fluid">
            <div class="row">
              Item Content
            </div>
          </div>
         </nb-accordion-item-body>
        </nb-accordion-item>
       </nb-accordion>
    </nb-card-body>
  </nb-card>
</section>
