<section id="SystemSettings">
    <nb-card>
        <nb-card-header>
            <h5>Product Settings</h5>
        </nb-card-header>
        <nb-card-body class="p-0">
            <nb-accordion>
                <nb-accordion-item>
                    <nb-accordion-item-header>Product Category Management</nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <app-category></app-category>
                    </nb-accordion-item-body>
                </nb-accordion-item>
                <nb-accordion-item>
                    <nb-accordion-item-header>Quantity Unit & Brands</nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <app-quantity-unit></app-quantity-unit>
                    </nb-accordion-item-body>
                </nb-accordion-item>
            </nb-accordion>
        </nb-card-body>
    </nb-card>
</section>