#Products nb-card{
  max-height: 70vh;
}

#Products nb-card-body{
  overflow-x: hidden;
  overflow-y: auto;
}

#Products .menu-container{
  max-height: 70vh;
  overflow-x: hidden;
  overflow-y: auto;
}
