<section id="OutletManagement">
  <nb-card size="small">
    <nb-card-header>
      Your Business Outlets
    </nb-card-header>
    <nb-list class="container-fluid">
      <nb-list-item *ngFor="let business of ownedBusinesses">
        <div class="row">
          <div class="col-md-8">
            {{ business.title }}
          </div>
          <div class="col-md-4 btn-container">
              <div class="row">
                  <div class="col-6">
                    <button nbButton type="button" status="primary" (click)="openSaveBusinessWindow('Update Business Title', business)">
                      <nb-icon icon="copy"></nb-icon>
                    </button>
                  </div>
                  <div class="col-6">
                    <button nbButton type="button" status="danger" (click)="openDeleteBusinessWindow('Delete Category', business.businessId)">
                      <nb-icon icon="close-square"></nb-icon>
                    </button>
                  </div>
              </div>
          </div>
        </div>
      </nb-list-item>
    </nb-list>
  </nb-card>

</section>
