#InvoiceForm{
  max-width: 60vw;
}


#InvoiceForm .float-right{
  float: right;
}

// Table over all style
#InvoiceForm table{
  color: var(--text-basic-color);
  border: 1px solid var(--divider-color);
  font-family: var(--smart-table-header-font-family);
}

#InvoiceForm table td, #InvoiceForm table th{
  padding: .5rem .5rem;
  border: 1px solid var(--divider-color);
}

#InvoiceForm .row-color-1{
  background-color: var(--background-basic-color-1);
}

#InvoiceForm .row-color-2{
  background-color: var(--background-basic-color-2);
}

#InvoiceForm tbody tr:hover, #InvoiceForm thead tr:hover{
  cursor: pointer;
  transition: 0.5s;
  color: var(--text-basic-color);
  background-color: var(--background-basic-color-3);
}

#InvoiceForm tbody tr:nth-child(2n){
  background-color: var(--background-basic-color-2);
}
