<section id="PagedTable" class="table-responsive">
  <table class="table table-bordered align-middle">
    <thead>
      <tr class="align-bottom row-color-2">
        <th scope="col" *ngIf="config?.allowEdit || config?.allowDelete" class="table-actions">
          <span><b>Actions</b></span>
        </th>
        <th *ngFor="let item of this.config.columnNames" class="ng-star-inserted">
          {{ item }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of config.sourceData">
        <td scope="col" *ngIf="config?.allowEdit || config?.allowDelete" class="table-actions">
          <div class="d-block">
            <span *ngIf="config?.allowEdit">
              <nb-icon icon="edit-2-outline" class="edit"></nb-icon>
            </span>
            <span *ngIf="config?.allowDelete">
              <nb-icon icon="trash-2-outline" class="delete"></nb-icon>
            </span>
          </div>
        </td>
        <th>1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <td scope="col" *ngIf="config?.allowEdit || config?.allowDelete" class="table-actions">
          <div class="d-block">
            <span *ngIf="config?.allowEdit">
              <nb-icon icon="edit-2-outline" class="edit"></nb-icon>
            </span>
            <span *ngIf="config?.allowDelete">
              <nb-icon icon="trash-2-outline" class="delete"></nb-icon>
            </span>
          </div>
        </td>
        <th>1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <td scope="col" *ngIf="config?.allowEdit || config?.allowDelete" class="table-actions">
          <div class="d-block">
            <span *ngIf="config?.allowEdit">
              <nb-icon icon="edit-2-outline" class="edit"></nb-icon>
            </span>
            <span *ngIf="config?.allowDelete">
              <nb-icon icon="trash-2-outline" class="delete"></nb-icon>
            </span>
          </div>
        </td>
        <th>1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    </tbody>

  </table>

</section>
