<nb-card>
    <nb-card-header>Route Form</nb-card-header>
    <nb-card-body>
        <div class="container-fluid">
            <form [formGroup]="routeForm" (ngSubmit)="saveRoute()" class="step-container row">
                <div class="col-md-6 p-1">
                    <label class="mb-1">Route Name</label>
                    <input
                        nbInput
                        fullWidth
                        status="primary"
                        type="text"
                        formControlName="routeName"
                        class="form-control"
                        placeholder="Route Name"
                        [value]="inputModel.routeName"
                        required
                    >
                    <div *ngIf="routeForm.get('routeName')?.touched && routeForm.get('routeName')?.invalid" class="validationError"></div>
                </div>
                <div class="col-md-6 p-1">
                    <label class="mb-1">Route Path</label>
                    <input
                        nbInput
                        fullWidth
                        status="primary"
                        type="text"
                        formControlName="routeValue"
                        class="form-control"
                        placeholder="Route Path"
                        [value]=inputModel.routeValue
                    >
                </div>
                <div class="col-md-12 p-1">
                    <label class="mb-1 d-block">Application</label>
                    <nb-select fullWidth placeholder="Select Application" status="primary" formControlName="applicationId" [selected]=inputModel.applicationId>
                        <nb-option *ngFor="let appInfo of appList" [value]=appInfo.id>{{ appInfo.applicationName }}</nb-option>
                    </nb-select>
                </div>
                <div class="col-md-12 p-1">
                    <label class="mb-1 d-block">Parent Route</label>
                    <nb-select fullWidth placeholder="Select Parent Route" status="primary" formControlName="parentRouteId" [selected]=inputModel.parentRouteId>
                        <nb-option *ngFor="let route of routeList" [value]=route.routeId>{{ route.routeName }}</nb-option>
                    </nb-select>
                </div>
                <div class="col-md-12 p-1">
                    <label class="mb-1">Route Description</label>
                    <textarea
                        nbInput
                        fullWidth
                        status="primary"
                        type="text"
                        formControlName="description"
                        class="form-control"
                        placeholder="Route Description"
                        [value]=inputModel.description
                    ></textarea>
                </div>
                <div class="col-md-12 p-1 mt-1">
                    <button nbButton status="primary" class="float-right">Save</button>
                </div>
            </form>
        </div>
    </nb-card-body>
</nb-card>
