<div class="container-fluid role">
  <div class="row">
    <div class="col-md-4">
        <nb-card size="large">
          <nb-card-header>
              Your Business Outlets
          </nb-card-header>
          <nb-card-body>
            <nb-list>
              <nb-list-item class="container-fluid" *ngFor="let business of ownedBusinesses">
                <div class="row w-100">
                  <div class="col-lg-8">
                    <nb-radio name="BusinessOutlet" (click)="loadBusinessRoles(business.organizationId)">
                      {{ business.organizationName }}
                    </nb-radio>
                  </div>
                  <div class="col-lg-4">
                    <div class="row">
                      <div class="col-6 p-0 pe-1">
                        <button class="w-100" nbButton type="button" status="primary" (click)="openSaveBusinessWindow('Update Business Title', business)">
                          <nb-icon icon="copy"></nb-icon>
                        </button>
                      </div>
                      <div class="col-6 p-0 ps-1">
                        <button class="w-100" nbButton type="button" status="danger" (click)="openDeleteBusinessWindow('Delete Category', business.organizationId)">
                          <nb-icon icon="close-square"></nb-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </nb-list-item>
            </nb-list>
          </nb-card-body>
          <nb-card-footer>
            <button nbButton status="primary" class="btn-save" (click)="openSaveBusinessWindow('Add New Business', null)">
              <nb-icon icon="plus-square"></nb-icon>
              <span class="d-lg-block d-none">Add New Business Outlet</span>
              <span class="d-sm-block d-lg-none">Add Business</span>
            </button>
          </nb-card-footer>
        </nb-card>
    </div>
    <div class="col-md-4">
        <nb-card size="large">
            <nb-card-header>
                Roles
            </nb-card-header>
            <nb-card-body>
              <nb-list>
                <nb-list-item *ngFor="let role of rolesUnderThisBusiness">
                    <div class="container-fluid">
                        <div class="row">
                            <nb-radio class="col-xxl-8" name="Role"
                                      (valueChange)="loadRoleRoutes(role.RoleId)">
                                {{ role.RoleName }}
                            </nb-radio>
                        </div>
                    </div>
                </nb-list-item>
              </nb-list>
            </nb-card-body>
            <nb-card-footer>
              <button nbButton status="primary" (click)="openSaveRoleWindow('Add New Role', null)">
                <nb-icon icon="plus-square"></nb-icon>
                Add Role
              </button>
            </nb-card-footer>
        </nb-card>
    </div>
    <div class="col-md-4">
        <nb-card size="large">
            <nb-card-header>
                Routes
            </nb-card-header>
            <nb-card-body>
              <nb-list>
                <nb-list-item *ngFor="let route of routesCollection">
                    <div class="container-fluid">
                        <div class="row">
                          <nb-checkbox (checkedChange)="allowRouteToRole(route.RouteId)" [checked]="route.IsPermitted" status="primary"> {{ route.RouteName }} </nb-checkbox>
                        </div>
                    </div>
                </nb-list-item>
              </nb-list>
            </nb-card-body>
        </nb-card>
    </div>
  </div>
</div>
