<section id="InvoiceDisplay">
  <nb-card>
    <nb-tabset>
      <nb-tab tabTitle="Invoice">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3">
              <label class="mb-2 mt-4 p-0 label">
                <b>Reference #</b>
                <span nbTooltipStatus="primary" nbTooltip="Invoice/Chalan Number (Id of this purchase)"
                      class="tooltip-style">?</span>
              </label>
              <div class="input-group">
                {{ invoiceModel.chalanNumber }}
              </div>
            </div>
            <div class="col-md-3">
              <label class="mb-2 mt-4 p-0 label">
                <b>Vendor / Supplier</b>
              </label>
              <div class="input-group">
                {{ invoiceModel.vendorName }}
              </div>
            </div>
            <div class="col-md-3">
              <label class="mb-2 mt-4 p-0 label">
                <b>Purchase Date</b>
              </label>
              <div class="input-group">
                {{ invoiceModel.chalanDate }}
              </div>
            </div>
            <div class="col-md-3">
              <label class="mb-2 mt-4 p-0 label">
                <b>Invoice Total</b>
                <span nbTooltipStatus="primary" nbTooltip="Total amount of money the vendor shall recieve agains this invoice"
                      class="tooltip-style">?</span>
              </label>
              <div class="input-group">
                {{ invoiceModel.invoiceTotal }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label class="mb-2 mt-4 p-0 label">Products</label>
              <table class="table table-bordered align-middle">
                <thead>
                  <tr class="align-bottom row-color-2">
                    <th class="ng-star-inserted text-center">Product Id</th>
                    <th class="ng-star-inserted text-center">Product Name</th>
                    <th class="ng-star-inserted text-center">Quantity</th>
                    <th class="ng-star-inserted text-center">Purchase Price</th>
                    <th class="ng-star-inserted text-center">Purchase Discount</th>
                    <th class="ng-star-inserted text-center">Retail Price</th>
                    <th class="ng-star-inserted text-center">Retail Vat Rate</th>
                    <th class="ng-star-inserted text-center">Max Retail Discount</th>
                    <th class="ng-star-inserted text-center">Total Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of invoiceModel.purchaseDetails;let i = index">
                    <td class="text-center">{{ product.productId }}</td>
                    <td class="text-center">{{ product.productName }}</td>
                    <td class="text-center">{{ product.quantity }}</td>
                    <td class="text-center">{{ product.purchasePrice }}</td>
                    <td class="text-center">{{ product.retailPrice }}</td>
                    <td class="text-center">{{ product.discount }}</td>
                    <td class="text-center">{{ product.vatRate }}%</td>
                    <td class="text-center">{{ product.totalPrice }}</td>
                  </tr>
                  <tr>
                    <td class="text-center">Total</td>
                    <td colspan="6"></td>
                    <td class="text-center">{{ netTotal }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="mb-2 mt-4 p-0 label">Terms</label>
              {{ invoiceModel.terms }}
            </div>
            <div class="col-md-6">
              <label class="mb-2 mt-4 p-0 label">Remarks</label>
              {{ invoiceModel.remarks }}
            </div>
          </div>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Payments">
        <p>List of <strong>Payments</strong>.</p>
      </nb-tab>
    </nb-tabset>
  </nb-card>
</section>