#Categories nb-list-item:hover {
    cursor: pointer;
}

#Categories nb-list-item span:hover {
    transition: 0.5s;
    color: red;
}

#Categories .row{
    justify-content: space-between;
    align-items: center;
}