<section id="Categories" class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <nb-card size="large">
                <nb-card-header>
                    Categories
                </nb-card-header>
                <nb-card-body>
                    <nb-list>
                        <nb-list-item *ngFor="let category of categories">
                            <div class="container-fluid">
                                <div class="row">
                                    <span class="col-md-9" (click)="loadSubcategories(category.categoryId)">
                                        {{ category.title }}
                                    </span>
                                    <button nbButton nbTooltip="Update" status="primary" class="col-md-1"
                                            (click)="openAddCategoryWindow('Update Category Information')">
                                        <nb-icon icon="copy"></nb-icon>
                                    </button>
                                    <button nbButton nbTooltip="Delete" status="danger" class="col-md-1">
                                        <nb-icon icon="close-square"></nb-icon>
                                    </button>
                                </div>
                            </div>
                        </nb-list-item>
                    </nb-list>
                </nb-card-body>
                <nb-card-footer>
                    <button nbButton status="primary" (click)="openAddCategoryWindow('Add New Category')">
                        <nb-icon icon="plus-square"></nb-icon> Add Category
                    </button>
                </nb-card-footer>
            </nb-card>
        </div>
        <div class="col-md-6">
            <nb-card size="large">
                <nb-card-header>
                    Subcategories
                </nb-card-header>
                <nb-card-body>
                    <nb-list>
                        <nb-list-item *ngFor="let subcategory of subcategories">
                            <div class="container-fluid">
                                <div class="row">
                                    <span class="col-md-9">
                                        {{ subcategory.title }}
                                    </span>
                                    <button nbTooltip="Update" nbButton status="primary" class="col-md-1">
                                        <nb-icon icon="copy"></nb-icon>
                                    </button>
                                    <button nbTooltip="Delete" nbButton status="danger" class="col-md-1">
                                        <nb-icon icon="close-square"></nb-icon>
                                    </button>
                                </div>
                            </div>
                        </nb-list-item>
                    </nb-list>
                </nb-card-body>
                <nb-card-footer>
                    <button nbButton shape="rectangle" status="primary">
                        <nb-icon icon="plus-square"></nb-icon> Add Subcategory
                    </button>
                </nb-card-footer>
            </nb-card>
        </div>

    </div>
</section>