<section id="SystemSettings">
    <nb-card>
      <nb-card-header>
        <h5>System Settings</h5>
      </nb-card-header>
      <nb-card-body class="p-0">
        <nb-accordion>
          <nb-accordion-item>
           <nb-accordion-item-header>User Management</nb-accordion-item-header>
           <nb-accordion-item-body>
            <app-ums [ownedBusinesses]="organizationList"></app-ums>
           </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item>
           <nb-accordion-item-header>Roles & Outlet Management</nb-accordion-item-header>
           <nb-accordion-item-body>
            <app-role-management [ownedBusinesses]="organizationList"></app-role-management>
           </nb-accordion-item-body>
          </nb-accordion-item>
         </nb-accordion>
      </nb-card-body>
    </nb-card>
  </section>
