<section id="Home">
    <div class="container-fluid">
        <div class="content">
            <div class="square twitch">
                <span class="one"></span>
                <span class="two"></span>
                <span class="three"></span>
                <div class="circle">
                    <h2 class="DrugRadar"> Redbook </h2>
                    <p>One stop solution for your SME business</p>
                </div>
            </div>

            <a routerLink="/dashboard" class="button">
                <span class="actual-text">&nbsp;About&nbsp;</span>
                <span class="hover-text" aria-hidden="true">&nbsp;About&nbsp;</span>
            </a>

            <a routerLink="/contact-us" class="button">
                <span class="actual-text">&nbsp;Contact&nbsp;</span>
                <span class="hover-text" aria-hidden="true">&nbsp;Contact&nbsp;</span>
            </a>

            <a routerLink="/auth/login" class="button">
                <span class="actual-text">&nbsp;LogIn&nbsp;</span>
                <span class="hover-text" aria-hidden="true">&nbsp;LogIn&nbsp;</span>
            </a>

            <a routerLink="/auth/register" class="button">
                <span class="actual-text">&nbsp;Register&nbsp;</span>
                <span class="hover-text" aria-hidden="true">&nbsp;Register&nbsp;</span>
            </a>
        </div>
    </div>
</section>