#Purchase .active{
  background-color: var(--menu-item-hover-background-color);
  color: var(--menu-item-hover-text-color);
  cursor: var(--menu-item-hover-cursor);
}

#Purchase ul{
  padding: var(--card-padding);
  padding-left: 0;
  padding-right: 0;
}


.outletItems{
  list-style-type: none;
  padding: var(--menu-item-padding);
  border-bottom: 1px solid black;
  margin-bottom: 0.2rem;
}


.outletItems:last-of-type{
  border-bottom: 0;
  margin-bottom: 0;
}

.outletItems:hover{
  color: var(--menu-item-hover-text-color);
  cursor: pointer;
}
