#ProductSave nb-card-footer button{
  float: right;
}

#ProductSave nb-card-body input{
  width: 100%;
}

#ProductSave nb-card-body label{
  font-weight: var(--text-caption-font-weight);
}
