<section id="RetailForm">
    <nb-card>
        <nb-card-header>Onboarding</nb-card-header>
        <nb-card-body>
            <nb-stepper [orientation]="isMobile? 'horizontal': 'vertical'" class="container-fluid" [linear]="linearMode"
                        #stepper>
                <nb-step label="Register Client Organization">
                    <ng-template #labelOne>Organization step</ng-template>
                    <form [formGroup]="OrganizationForm"
                          class="step-container row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12 p-1">
                                    <label for="OrganizationName">Organization Name</label>
                                </div>
                                <div class="col-md-12 p-1">
                                    <input
                                           id="OrganizationName"
                                           nbInput
                                           fullWidth
                                           formControlName="organizationName"
                                           status="primary"
                                           type="text"
                                           class="form-control"
                                           id="OrganizationName"
                                           placeholder="Organization Name"
                                           required>
                                    <div id="OrganizationNameWarning"
                                         *ngIf="OrganizationForm.get('organizationName')?.touched && OrganizationForm.get('organizationName')?.invalid"
                                         class="validationError"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 p-1">
                                    <label for="OrganizationAddress">Organization Address</label>
                                </div>
                                <div class="col-md-12 p-1">
                                    <input
                                           id="OrganizationAddress"
                                           nbInput
                                           fullWidth
                                           formControlName="organizationAddress"
                                           status="primary"
                                           type="text"
                                           class="form-control"
                                           placeholder="Organization Address"
                                           required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 p-1">
                                    <label for="SubscriptionFee">Monthly Subscription Fee (Prepaid)</label>
                                </div>
                                <div class="col-md-12 p-1">
                                    <input
                                           id="SubscriptionFee"
                                           nbInput
                                           fullWidth
                                           formControlName="subscriptionFee"
                                           status="primary"
                                           type="number"
                                           class="form-control"
                                           placeholder="Subscription Fee"
                                           required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 p-1">
                                    <button nbButton status="primary" class="float-right"
                                            (click)="validateOrgReg(stepper)">Next</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="blumeDrop"
                                 appBlumeDrop
                                 [allowedFileTypes]="['image/png', 'image/jpeg']"
                                 [uploadUrl]="'http://example.com/upload'"
                                 [allowMultiSelect]="false"
                                 (filesDropped)="handleOutputFiles($event)">
                                <div class="drop-label">Drop or Tap here logo here</div>
                                <img id="drop-view" src="" alt="">
                            </div>
                        </div>
                    </form>
                </nb-step>
                <nb-step [stepControl]="AdminUserForm" label="Register Admin User">
                    <ng-template #labelTwo>Admin User Step</ng-template>
                    <form [formGroup]="AdminUserForm" class="step-container row">
                        <div class="col-md-6 p-1">
                            <label for="FirstName" class="mb-2">First Name</label>
                            <input
                                   formControlName="firstName"
                                   nbInput
                                   fullWidth
                                   status="primary"
                                   type="text"
                                   class="form-control"
                                   id="FirstName"
                                   placeholder="First Name">
                        </div>
                        <div class="col-md-6 p-1">
                            <label for="LastName" class="mb-2">Last Name</label>
                            <div class="col-md-12">
                                <input
                                       formControlName="lastName"
                                       nbInput
                                       fullWidth
                                       status="primary"
                                       type="text"
                                       class="form-control"
                                       id="LastName"
                                       placeholder="Last Name">
                            </div>
                        </div>
                        <div class="col-md-6 p-1">
                            <label for="UserName" class="mb-2">User Name</label>
                            <div class="col-md-12">
                                <input
                                       formControlName="userName"
                                       nbInput
                                       fullWidth
                                       status="primary"
                                       type="text"
                                       class="form-control"
                                       id="UserName"
                                       placeholder="User Name"
                                       required>
                                <div *ngIf="AdminUserForm.get('userName')?.touched && AdminUserForm.get('userName')?.invalid"
                                     class="validationError"></div>
                            </div>
                        </div>
                        <div class="col-md-6 p-1">
                            <label for="Email" class="mb-2">User Email</label>
                            <div class="col-md-12">
                                <input
                                       formControlName="email"
                                       nbInput
                                       fullWidth
                                       status="primary"
                                       type="email"
                                       class="form-control"
                                       id="Email"
                                       placeholder="Email"
                                       required>
                                <div *ngIf="AdminUserForm.get('email')?.touched && AdminUserForm.get('email')?.invalid"
                                     class="validationError"></div>
                            </div>
                        </div>
                        <div class="col-md-12 p-1">
                            <label for="accountBalance" class="mb-2">Initial Account Balance</label>
                            <div class="col-md-12">
                                <input
                                       formControlName="accountBalance"
                                       nbInput
                                       fullWidth
                                       status="primary"
                                       type="number"
                                       class="form-control"
                                       id="AccountBalance"
                                       placeholder="Account Balance"
                                       required>
                                <div *ngIf="AdminUserForm.get('accountBalance')?.touched && AdminUserForm.get('accountBalance')?.invalid"
                                     class="validationError"></div>
                            </div>
                        </div>
                        <div class="col-md-12 p-1">
                            <button nbButton status="primary" class="float-right"
                                    (click)="onboardUser(stepper)">Save</button>
                        </div>
                    </form>
                </nb-step>
                <nb-step [hidden]="true">
                    <div class="step-container">
                        <h3>Wizard completed!</h3>
                        <button status="primary" nbButton (click)="resetAllForms(stepper)">Add Another User</button>
                    </div>
                </nb-step>
            </nb-stepper>
        </nb-card-body>
    </nb-card>
</section>