#DashboardLayout .nav-top-bar-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

#DashboardLayout .left-cluster{
  display: flex;
  align-items: center;
}

#DashboardLayout .left-cluster nb-select{
  padding-left: 1rem;
}

#DashboardLayout .left-cluster span{
  font-size: 2rem;
  margin-left: 1rem;
  padding-left: 1rem;
  font-weight: 800;
  border-left: 1px solid wheat;
}

#DashboardLayout .spacer{
  flex: 2;
}

#DashboardLayout .right-cluster :hover{
  cursor: pointer;
}

#DashboardLayout .footer a{
  text-decoration: none;
  margin-left: 5px;
}

#DashboardLayout .collapsed, #DashboardLayout .collapsed nb-menu {
  animation-duration: 1s;
  animation-name: sidebar-collapse-animation;
}

#DashboardLayout .expanded, #DashboardLayout .expanded nb-menu {
  animation-duration: 1s;
  animation-name: sidebar-expansion-animation;
}

@keyframes sidebar-expansion-animation {
  from {
    width: 0px;
    opacity: 0;
  }
  to {
    opacity: 1;
    width: var(--sidebar-width);
  }
}

@keyframes sidebar-collapse-animation {
  from {
    opacity: 1;
    width: var(--sidebar-width);
  }
  to {
    opacity: 0;
    width: 0px;
  }
}

#ProfilePanel{
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translateX(-100%);
}

#ProfilePanel nb-select{
  padding-bottom: 1rem;
}

#ProfilePanel nb-card{
  padding: 1rem;
}

#ProfilePanel .themes span{
  display: block;
  margin-bottom: 0.5rem;
}
