.nav-brand-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-brand-container h1{
    border-left: 1px solid white;
    padding-left: 1vw;
    margin-left: 1vw;
}

.nav-brand-container a nb-icon{
    height: 5vh;
}

.nav-brand-container nb-select{
    margin-left: 1vw;
}

.footer a{
    text-decoration: none;
    margin-left: 5px;
}

#DashboardLayout .collapsed, #DashboardLayout .expanded {
  transition: 1s;
}

#DashboardLayout .expanded nb-menu{
  animation-duration: 1s;
  animation-name: sidebar-expansion-animation;
}

@keyframes sidebar-expansion-animation {
  from { width:0px; }
  to { width:var(--sidebar-width); }
}
