#DashboardLayout .nav-top-bar-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

#DashboardLayout .left-cluster{
  display: flex;
  align-items: center;
}

#DashboardLayout .left-cluster nb-select{
  padding-left: 1rem;
}

#DashboardLayout .left-cluster span{
  font-size: 2rem;
  margin-left: 1rem;
  padding-left: 1rem;
  font-weight: 800;
  border-left: 1px solid wheat;
}

#DashboardLayout .spacer{
  flex: 2;
}

#DashboardLayout .right-cluster :hover{
  cursor: pointer;
}

#DashboardLayout .footer a{
  text-decoration: none;
  margin-left: 5px;
}

#DashboardLayout nb-sidebar{
  position: relative;
  overflow: hidden;
}

#SideBar{
  position: absolute;
  left: calc(var(--sidebar-width) * -1);
  top: var(--header-height);
  width: var(--sidebar-width);
  height: calc(var(--sidebar-height) - var(--header-height));
  box-shadow: var(--sidebar-shadow);
  background-color: var(--sidebar-background-color);
}

#SideBar.collapsed{
  animation-duration: 0.5s;
  animation-name: sidebar-collapse-animation;
  animation-fill-mode: forwards; /* Add this line */
}

#SideBar.expanded{
  animation-duration: 0.5s;
  animation-name: sidebar-expansion-animation;
  animation-fill-mode: forwards; /* Add this line */
}

.overlay{
  content: " ";
  animation-duration: 0.5s;
  display: block;
  position: absolute;
  top: var(--header-height);
  width: 100%;
  height: calc(100vh - var(--header-height));
  background-color: black;
  opacity: 0.5;
}

#LoadingScreen{
  transition: 0.5;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  background-color: var(--layout-background-color);
  opacity: 0.9;
}

.loader {
  width: 84px;
  height: 84px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.loader:before , .loader:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width:64px;
  height: 64px;
  border-radius: 50%;
  background:#FFF;
  transform: translate(-50% , 100%)  scale(0);
  animation: push 2s infinite ease-in;
}

.loader:after {
  animation-delay: 1s;
  background-color: var(--color-primary-default);
}

@keyframes push {
    0% {
      transform: translate(-50% , 100%)  scale(1);
    }
    15% , 25%{
      transform: translate(-50% , 50%)  scale(1);
    }
  50% , 75% {
      transform: translate(-50%, -30%) scale(0.5);
    }
  80%,  100% {
      transform: translate(-50%, -50%) scale(0);
    }
}

.loading-text{
  position: relative;
  top: 48%;
  font-size: 35px;
  color: var(--color-primary-default);
  font-weight: 600;
  display: inline-block;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFF;
  box-sizing: border-box;
  animation: spotlight 2s linear infinite;
}

@keyframes spotlight {
  0% , 20% {
    opacity: 1;
    letter-spacing: 2px;
   }
 80% , 100% {
    opacity: 0;
    letter-spacing: 32px;
   }
}

@keyframes sidebar-expansion-animation {
  from {
    left: calc(var(--sidebar-width) * -1);
  }
  to {
    left: 0;
  }
}

@keyframes sidebar-collapse-animation {
  from {
    left: 0;
  }
  to {
    left: calc(var(--sidebar-width) * -1);
  }
}

#ProfilePanel{
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translateX(-100%);
}

#ProfilePanel nb-select{
  padding-bottom: 1rem;
}

#ProfilePanel nb-card{
  padding: 1rem;
}

#ProfilePanel .themes span{
  display: block;
  margin-bottom: 0.5rem;
}
