@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;

@forward '@nebular/theme/styles/theming';
@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/default';
@use '@nebular/theme/styles/themes/dark';

@include nb-install() {
  @include nb-theme-global();
};

$nb-enable-css-custom-properties: true; // <-- enable css custom properties
/* You can add global styles to this file, and also import other style files */

.float-right{
  float: left;
}

.float-right{
  float: right;
}

#InvoiceForm nb-stepper .header{
  padding-left: 20px!important;
  padding-right: 20px!important;
}

#InvoiceForm nb-stepper .step-content{
  padding-left: 0!important;
  padding-right: 0!important;
}

#CashMemoForm nb-stepper .header{
  padding-left: 20px!important;
  padding-right: 20px!important;
}

#CashMemoForm nb-stepper .step-content{
  padding-left: 0!important;
  padding-right: 0!important;
}

#UserManagement #NGX-Pagination{
  padding-top: 0!important;
  margin-top: 0!important;
}

nb-radio :hover{
  cursor: pointer;
}

#RetailForm nb-stepper .step-content {
  padding: var(--stepper-step-content-padding);
  width: 100%;
}

.validationError::after{
  content: '** Required Field **';
  font-style: italic;
  color: var(--card-header-danger-background-color);
  font-size: 0.7rem;
}