<section id="InvoiceForm">
  <nb-card>
    <nb-card-header>
      <div class="container-fluid">
        <div class="row">
          <span>
            Product Purchase Invoice
          </span>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <nb-stepper #stepper [linear]="linearMode">
        <nb-step [stepControl]="clientDetails" label="Client Details">
          <form #clientDetails="ngForm" class="step-container">
            <div class="container-fluid input-group">
              <div class="row">
                <div class="col-md-6">
                  <label class="mb-2 mt-4 p-0">Select Vendors</label>
                  <nb-select fullWidth
                             placeholder="Select Showcase"
                             name="ClientId"
                             [(ngModel)]="invoiceModel.vendorId">
                    <nb-option value>Select Client</nb-option>
                    <nb-option *ngFor="let client of vendorList" value={{client.clientId}}>{{ client.clientName
                      }}</nb-option>
                  </nb-select>
                </div>
                <!--
                  Nebular Date Picker has bug
                  https://github.com/akveo/nebular/issues/2338
                -->
                <div class="col-md-6">
                  <label class="mb-2 mt-4 p-0">Issue Date</label>
                  <div class="input-group">
                    <input fullWidth nbInput
                           placeholder="Issue Date"
                           [nbDatepicker]="dateTimePicker">
                    <nb-datepicker #dateTimePicker></nb-datepicker>
                  </div>
                </div>
                <div class="col-md-12">
                  <label class="mb-2 mt-4 p-0">Notes</label>
                  <div class="input-group">
                    <textarea fullWidth nbInput
                              placeholder="Notes"
                              name="Notes"
                              [(ngModel)]="invoiceModel.remarks"></textarea>
                  </div>
                </div>
                <div class="col-md-12">
                  <label class="mb-2 mt-4 p-0">Terms</label>
                  <div class="input-group">
                    <textarea fullWidth nbInput
                              placeholder="Terms"
                              name="InvoiceTerms"
                              [(ngModel)]="invoiceModel.remarks"></textarea>
                    <!-- NBNext doesn't work without this -->
                    <textarea fullWidth nbInput
                              placeholder="Terms"
                              name="Terms"
                              class="d-none"
                              [(ngModel)]="invoiceModel.remarks"></textarea>
                  </div>
                </div>
                <div class="col-md-12">
                  <label class="mb-2 mt-4 p-0">Select Address</label>
                  <span *ngFor="let address of addressesOfCurrentOutlet">
                    <div class="input-group">
                      <nb-checkbox
                                   status="primary"
                                   (checkedChange)="addSelectedAddress(address.AddressId)">
                        {{ address.FullAddress }}
                      </nb-checkbox>
                    </div>
                  </span>
                </div>
                <div class="col-md-12 mt-5">
                  <button nbButton type="button" status="primary" class="float-right" nbStepperNext
                          (click)="initializeProductDetailsForm()">next</button>
                </div>
              </div>
            </div>
          </form>
        </nb-step>

        <nb-step [stepControl]="productDetails" label="Product Details">
          <form #productDetails="ngForm" class="step-container">
            <div class="container-fluid input-group">
              <div class="row">
                <div class="col-md-12">
                  <label class="mb-2 mt-4 p-0">Select Product</label>
                  <nb-select fullWidth multiple required
                             placeholder="Select Product"
                             (selectedChange)="selectProductForPurchase()">
                    <nb-option *ngFor="let product of outletProductList" value={{product.productId}}>
                      {{ product.productName }}</nb-option>
                  </nb-select>
                </div>
                <div class="col-md-12">
                  <table class="mt-4" style="width:100%">
                    <thead>
                      <tr class="align-bottom row-color-2">
                        <th class="ng-star-inserted">Product Id</th>
                        <th class="ng-star-inserted">Product Name</th>
                        <th class="ng-star-inserted">Quantity</th>
                        <th class="ng-star-inserted">Price</th>
                        <th class="ng-star-inserted">Net Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let product of invoiceModel.invoiceProducts; let i = index">
                        <td>{{ product.productId }}</td>
                        <td>{{ product.productName }}</td>
                        <td>
                          <!-- {{product.Quantity}} -->
                          <input fullWidth nbInput required
                                 placeholder="Purchase Quantity"
                                 [(ngModel)]="product.quantity"
                                 name="product.Quantity[{{i}}]"
                                 [value]="product.quantity"
                                 (change)="updateProductNetTotalAmount(product.productId)">
                        </td>
                        <td>
                          <!-- {{product.PurchasePrice}} -->
                          <input fullWidth nbInput required
                                 placeholder="Purchase Price"
                                 [(ngModel)]="product.purchasePrice"
                                 name="product.PurchasePrice[{{i}}]"
                                 [value]="product.purchasePrice"
                                 (change)="updateProductNetTotalAmount(product.productId)">
                        </td>
                        <td>{{ product.purchasePrice }}</td>
                      </tr>
                      <tr>
                        <td colspan="4"><b>Net Total</b></td>
                        <td><b>{{ invoiceModel.totalPurchasePrice }}</b></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-12 mt-5">
                  <button nbButton type="button" status="primary" class="float-right" nbStepperNext
                          (click)="initializePaymentDetailsForm()">next</button>
                </div>
              </div>
            </div>
          </form>
        </nb-step>

        <nb-step [stepControl]="somethingForm" label="Payments">
          <div class="container-fluid input-group">
            <form #somethingForm="ngForm" class="step-container" id="step3Form">
              <div class="row">
                <div class="col-md-12">
                  <h5 class="mt-3 pt-3">All Payment Records</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <table class="mt-4" style="width:100%">
                    <thead>
                      <tr class="align-bottom row-color-2">
                        <th class="ng-star-inserted">Payment Id</th>
                        <th class="ng-star-inserted">Payment Date</th>
                        <th class="ng-star-inserted">Payment Amount</th>
                        <th class="ng-star-inserted">Invoice Total</th>
                        <th class="ng-star-inserted">Due Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let payment of paymentRecords; let i = index">
                        <td>{{ payment.id }}</td>
                        <td>{{ payment.PaymentDate }}</td>
                        <td>{{ payment.PaymentAmount }}</td>
                        <td>{{ payment.InvoiceTotalAmount }}</td>
                        <td>{{ payment.TotalDueAmount }}</td>
                      </tr>
                      <tr>
                        <td colspan="3"><b>Net Total</b></td>
                        <td><b>{{ invoiceModel.totalPurchasePrice }}</b></td>
                        <td><b>{{ invoiceModel.totalPurchasePrice }}</b></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h5 class="mt-3 pt-3">New Payment Details</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label class="mb-2 mt-4 p-0">Payment Date</label>
                  <input fullWidth nbInput required
                         placeholder="Payment Date"
                         name="PaymentDate"
                         class="input-group"
                         [nbDatepicker]="dateTimePicker"
                         [(ngModel)]="paymentInvoice.PaymentDate">
                  <nb-datepicker #dateTimePicker></nb-datepicker>
                </div>
                <div class="col-md-6">
                  <label class="mb-2 mt-4 p-0">Payment Amount</label>
                  <input fullWidth nbInput required
                         placeholder="Payment Amount"
                         name="PaymentAmount"
                         class="input-group"
                         [(ngModel)]="paymentInvoice.PaymentAmount">
                </div>
              </div>
              <div class="col-md-12 mt-5">
                <button nbButton type="button" status="primary" class="float-right" nbStepperNext>Pay</button>
              </div>
            </form>
          </div>
        </nb-step>

        <nb-step [hidden]="true">
          <div class="container-fluid">
            <div class="step-container">
              <div class="row">
                <h3 style="text-align: center;">Invoice Saved Successfully!</h3>
                <button nbButton type="button" status="primary" class="float-right"
                        (click)="stepper.reset()">Done</button>
              </div>
            </div>
          </div>
        </nb-step>
      </nb-stepper>
    </nb-card-body>
  </nb-card>
</section>