<section id="BrandsNQuantities">
    <div class="container-fluid">
        <div class="row">            
            <section id="QuantityUnit" class="col-md-6">
                <nb-card size="large">
                    <nb-card-header>Quantity Units</nb-card-header>
                    <nb-card-body>
                        <nb-list>
                            <nb-list-item *ngFor="let unit of quantityUnits">
                                <div class="container">
                                    <div class="row">                                        
                                        <div class="col-xxl-8">
                                            <span class="align-middle">{{ unit.attributeName }}</span>
                                        </div>
                                        <div class="col-xxl-4">
                                            <div class="row">
                                                <div class="col-6">
                                                    <button nbButton status="primary" nbTooltip="Update">
                                                        <nb-icon icon="file-text"></nb-icon>
                                                    </button>
                                                </div>
                                                <div class="col-6">
                                                    <button nbButton status="danger" nbTooltip="Delete">
                                                        <nb-icon icon="trash-2"></nb-icon>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nb-list-item>
                        </nb-list>
                    </nb-card-body>
                    <nb-card-footer>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8">
                                        <input
                                        nbInput
                                        fullWidth
                                        status="primary"
                                        type="text"
                                        placeholder="Attribute Name"
                                        fieldSize="medium"
                                        [value]="selectedUnit.attributeName"
                                    >
                                </div>
                                <div class="col-md-4">
                                    <button nbButton fullWidth status="success" nbTooltip="Save">
                                        <nb-icon icon="checkmark"></nb-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </nb-card-footer>
                </nb-card>
            </section>
            <section id="Brands" class="col-md-6">
                <nb-card size="large">
                    <nb-card-header>Brands</nb-card-header>
                    <nb-card-body>
                        <nb-list>
                            <nb-list-item *ngFor="let unit of quantityUnits">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xxl-8">
                                            <div class="align-middle">{{ unit.attributeName }}</div>
                                        </div>
                                        <div class="col-xxl-4">
                                            <div class="row">
                                                <div class="col-6">
                                                    <button nbButton status="primary" nbTooltip="Update">
                                                        <nb-icon icon="file-text"></nb-icon>
                                                    </button>
                                                </div>
                                                <div class="col-6">
                                                    <button nbButton status="danger" nbTooltip="Delete">
                                                        <nb-icon icon="trash-2"></nb-icon>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nb-list-item>
                        </nb-list>
                    </nb-card-body>
                    <nb-card-footer>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-8 p-0">
                                    <input
                                        nbInput
                                        fullWidth
                                        status="primary"
                                        type="text"
                                        placeholder="Attribute Name"
                                        fieldSize="medium"
                                        [value]="selectedUnit.attributeName"
                                    >
                                </div>
                                <!-- formControlName="attributeName"
                                     -->
                                <div class="col-md-4">
                                    <button nbButton fullWidth status="success" nbTooltip="Save">
                                        <nb-icon icon="checkmark"></nb-icon>
                                    </button>
                                </div>
                            </div>
                        </div>                        
                    </nb-card-footer>
                </nb-card>
            </section>
        </div>
    </div>
</section>